@import "reset.css";
@import "fonts.css";

body {
  background-color: black;
}
.luch {
  width: 95vw;
  height: 400vh;
}
.mozg {
  display: flex;
  transform: translate3d(300px,-1700px, 0px);
  width: 40vw;
  height: 70vh;
}
.fade {
  display: flex;
  transform: translate3d(500px,-3000px, 0px);
  width: 1134px;
  height: 788px;
  width: 100vw;
  height: 50vh;
}
.frame {
  display: flex;
  transform: translate3d(500px,-3376px, 0px);
  max-width:100%;
  height:auto;
  z-index: 2;
}
