@import "reset.css";
@import "fonts.css";

body {
  background-color: black;
}
.luch {
  width: 1589px;
  height: 3807px;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
}

.fade {
  width: 936px;
  height: 738px;
  opacity: 1;
  z-index: 2;
  transform: translate3d(613px, -3196px, 0px);
}
.sign {
  height: 253px;
  width: 1168px;
  z-index: 5;
  transform: translate3d(60px, -5650px, 0px);

}
.text {
  height: 727px;
  width: 1366px;
  z-index: 6;
  transform: translate3d(20px, -3050px, 0px);

}
.logo {
  height: 324px;
  width: 330px;
  z-index: 7;
  transform: translate3d(890px, -2920px, 0px);

}
.borl {
  width: 1060px;
  height: 794px;
  z-index: 8;
  transform: translate3d(28px, -7770px, 0px);

}
.borr {
  width: 154px;
  height: 922.5px;
  transform: translate3d(405px, -6850px, 0px);
}
.frame {
  transform: translate3d(471px, -7013px, 0px);
  height: 752px;
  width: 1075.7px;
  z-index: 10;
}
h1 {
  font-size: 140px;
  transform: translate3d(40px, -12930px, 0px);
  color: white;
  font-family: "Montserrat-Bold";
  animation: blur 2s infinite alternate;
}
  .mozg {
    height: 1102px;
    width: 964px;
    z-index: 4;
    transform: translate3d(180px, -3100px, 0px);

    }
    div {
      background: linear-gradient(180deg, #FF0000, #FF8C21, #EFEB24, #50EF24, #24DEEF, #242FEF, #BB24EF);
      width: 936px;
      height: 738px;
      transform: translate3d(610px,-6101px, 0px);
      z-index: 10;
      animation: gradient 8s ease infinite alternate;
    }
    .luch1 {
      width: 1589px;
      height: 3807px;
      transform: translate3d(0px, -9172px, 0px);
      z-index: 1;
      animation: luk 500s ;
    }
/* база для анимации*/
@keyframes gradient {
100% {
background-position: 0 2000px;
}
}
@keyframes luchik {
0% {
  width: 794px;
  height: 1903px;
}
50% {
width: 794px;
height: 1903px;
}
100% {
width: 1589px;
height: 3807px;
}
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    text-shadow: 0 0 0 white
  }
  100% {
    text-shadow:0 0 50px white
  }
}
@keyframes luk {
0% {
opacity: 1;
}
5% {
opacity: 0;
}
100% {
opacity: 1
}
}

 @media (max-width: 1235px) {
   .luch {
     width: 1478px;
     height: 3542px;
     transform: translate3d(0px, 0px, 0px);

   }
   .fade {
     width: 869px;
     height: 686px;
     opacity:0 ;
     z-index: 2;
     transform: translate3d(600px, -2970px, 0px);
   }

   .text {
     height: 676px;
     width: 1271px;
     z-index: 6;
     transform: translate3d(20px, -3000px, 0px);
     opacity: 1;
   }
   .logo {
     height: 324px;
     width: 330px;
     z-index: 7;
     transform: translate3d(890px, -2860px, 0px);
   }
   .borl {
     width: 1060px;
     height: 794px;
     z-index: 8;
     transform: translate3d(28px, -8203px, 0px);
   }
   .borr {
     width: 154px;
     height: 922.5px;
     transform: translate3d(1377px, -7180px, 0px);
   }
   .frame {
     transform: translate3d(420px, -6455px, 0px);
     height:712.33px;
     width: 1019px;
   }
   h1 {
     font-size: 120px;
     transform: translate3d(40px, -12980px, 0px);
     color: white;
     font-family: "Montserrat-Bold";
     animation: blur 2s infinite alternate;
   }
     .mozg {
       height: 1102px;
       width: 964px;
       z-index: 4;
       transform: translate3d(170px, -3000px, 0px);
       }
       div {
         background: linear-gradient(180deg, #FF0000, #FF8C21, #EFEB24, #50EF24, #24DEEF, #242FEF, #BB24EF);
         width: 836px;
         height: 688px;
         transform: translate3d(610px,-5756px, 0px);
         z-index: 10;
         animation: gradient 8s ease infinite alternate;
         opacity: 1;
       }
       .luch1 {
         width: 1478px;
         height: 3542px;
         transform: translate3d(0px, -9435px, 0px);
         z-index: 1;
         animation: luk 500s ;
       }
 }
